<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjx.mapper.UserTasksMapper">

    <select id="findAllTasksByUserName" resultMap="UserTask">
        select * from usertasks where username=#{username}
    </select>
    <insert id="insertUserTask" parameterType="com.wjx.entity.UserTasks">
        INSERT INTO usertasks
        (username, createdTime, updatedTime, deadline, description, alarm)
        VALUES
        (#{username}, #{createdTime}, #{updatedTime}, #{deadline}, #{description}, #{alarm})
    </insert>
    <resultMap id="UserTask" type="com.wjx.entity.UserTasks">
        <id property="taskId" column="taskid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="createdTime" column="createdTime" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updatedTime" jdbcType="VARCHAR"/>
        <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="alarm" column="alarm" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>