<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjx.mapper.UserMapper">

    <select id="findAllUsers" resultMap="UsernamePassword">
        select username,password from users
    </select>
    <select id="findByUsername" resultMap="UsernamePassword">
        select username,password from users where username=#{username}
    </select>
    <insert id="save">
        INSERT INTO users(username, password)
        VALUES(#{username}, #{password})
    </insert>
    <resultMap id="UsernamePassword" type="com.wjx.entity.User">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
</mapper>